*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: monospace, sans-serif;
}

body {
    margin: 0;
    background-color: #1F1D2B;
}

.form-container {
    position: fixed;
    z-index: 9999;
    background-color: #0000007d;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.form-container .image {
    text-align: center;
}


form {
    background-color: #07253e;
    padding: 10px 25px;
    border-radius: 10px;
    width: 80%;
}

form h1 {
    text-align: center;
    font-size: 17px;
}

.room-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

form input {
    padding: 8px;
    outline: none;
    width: 63%;
}

form button {
    display: block;
    margin-inline: auto;
    margin-top: 21px;
    padding: 10px 35px;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background-color: #8941e3;
    transition: 0.32s ease-in-out;
}

form button:hover {
    background-color: #2b1447;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}

header {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

header input[type="text"] {
    flex-basis: 50%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 12px 0 0 12px;
    background-color: #353340;
    color: #666696;
    padding: 10px;
}

header button {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.hide {
    display: none !important;
}

.video-container {
    position: relative;
    width: 95%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: 60px;
    margin-inline: auto;
}

.video-container.full-screen {
    max-width: initial;
    width: 100%;
    max-height: 100vh;
}

#myVideo {
    width: 100%;
    border-radius: 15px;
}

.controls-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    z-index: 100;
    opacity: 0;
    transition: 0.32s ease-out;
}


.controls-container:hover,
.video-container.paused .controls-container {
    opacity: 1;
}

.controls {
    display: flex;
    color: #cfd0da;
    gap: .5rem;
    padding: 9px;
    align-items: center;
    width: 99%;
    margin-inline: auto;
    background: rgba(48, 52, 64, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(48, 52, 64, 0.36);
}

.controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    font-size: 1.1rem;
    cursor: pointer;
    max-width: 30px;
    flex-basis: 15%;
}

/* show play icon , (pause clicked)-> paused class added */
.video-container.paused .pause-icon {
    display: none;
}

/* hide play button , (play clicked)-> paused class removed */
.video-container:not(.paused) .pause-icon {
    color: #fff;
}

.video-container:not(.paused) .play-icon {
    display: none;
}

/* volume */
.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
    display: none;
}

.video-container[data-volume="high"] .volume-high-icon {
    display: block;
}

.video-container[data-volume="low"] .volume-low-icon {
    display: block;
}

.video-container[data-volume="muted"] .volume-muted-icon {
    display: block;
}

.vol-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 14%;
    max-width: 30px;
}

.vol-container button {
    position: relative;
    width: 100%;
}

.vol-container input {
    appearance: slider-vertical;
    accent-color: #8941E3;
    position: absolute;
    width: 8px;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 1.32 ease-in-out, transform 1.3s ease-in-out;
    bottom: 35px;
    height: 80px;
}

.vol-container:hover input {
    transform: scaleY(1);
}

/* full and mini screen */
.video-container.full-screen .open {
    display: none;
}

.video-container.full-screen .close {
    color: #fff;
}

.video-container:not(.full-screen) .close {
    display: none;
}

/* duration */
.duration-container {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 12px;
}

/* timeline */

.video-progress {
    position: relative;
    height: 8px;
    margin-bottom: 10px;
    flex-basis: 75%;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    width: 100%;
    height: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}


.seek {
    accent-color: #8941E3;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    margin: 0;
}


footer {
    flex-basis: 100%;
    color: #fff;
    padding: 25px;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 3px;
    align-self: flex-end;
    background-image: linear-gradient(335deg,
            hsl(0deg 0% 100%) 0%,
            hsl(273deg 80% 98%) 1%,
            hsl(273deg 80% 96%) 2%,
            hsl(273deg 80% 94%) 3%,
            hsl(272deg 79% 92%) 6%,
            hsl(272deg 79% 90%) 9%,
            hsl(272deg 79% 88%) 13%,
            hsl(272deg 78% 86%) 19%,
            hsl(271deg 78% 84%) 26%,
            hsl(271deg 78% 82%) 35%,
            hsl(271deg 77% 80%) 44%,
            hsl(270deg 77% 78%) 53%,
            hsl(270deg 77% 76%) 61%,
            hsl(270deg 76% 74%) 68%,
            hsl(269deg 76% 72%) 74%,
            hsl(269deg 76% 70%) 80%,
            hsl(269deg 75% 68%) 85%,
            hsl(268deg 75% 66%) 89%,
            hsl(268deg 75% 64%) 92%,
            hsl(267deg 75% 62%) 95%,
            hsl(267deg 74% 60%) 98%,
            hsl(267deg 74% 57%) 100%);
}

footer a {
    text-decoration: none;
    color: #1f1d2b;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
}